<html>
  <body>
    <h1><%= title %></h1>
    <% mensagens.forEach((message, index) => { %>
    <ul>
      <li>Mensagem: <%= message.mensagem %></li>
      <li>Usuário: <%= message.usuario %></li>
      <li>Data: <%= message.data_criacao %></li>
      <li>
        <button onclick="window.location.href = '/details/<%= message.id %>'">
          Detalhes
        </button>
      </li>
    </ul>
    <% }) %>
    <button onclick="window.location.href = `${window.location.href}new`">
      Nova mensagem
    </button>
  </body>
</html>
